<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="none">
  <div>
    <ion-item class='item'>
      <ion-label position="fixed">number</ion-label>
      <ion-input placeholder="Enter first number" [(ngModel)]="n1" autofocus></ion-input>
    </ion-item>
    <ion-button expand="full" (click)="calculate()">calculate</ion-button>
  </div>
  
  <div *ngIf='answer'>
    <ion-card color="light">
    <ion-card-header class="ion-text-center ion-no-padding">
      <h3><u>answer</u></h3>
    </ion-card-header>
    <ion-card-content>
      LCM of {{n1}} is <b>{{answer}}</b>.
    </ion-card-content>
  </ion-card>
  </div>
</ion-content>
