ion-content{
  background-color: lighten(#9d5456, 40%);
  ion-item {
    margin-top: 20px;
    border-radius: 30px !important;
    padding-left: 30px !important;
    font-size: 0.9em;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-bottom: 0px !important;
    box-shadow: none !important;
  }

 ion-item.item{
    background-color: rgba(255, 255, 255, 0.4);
    margin-bottom: 1px;
    ion-label {
      width: 10%;
      color: rgba(0, 0, 0, 0.6);
      font-size: 1.2em;
    }
 }
}

ion-footer{
  background-color: #e8d5d5
}