<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>signup</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='none'>
  <div>
    <div>
      <ion-item>
        <ion-label position="fixed">Email</ion-label>
        <ion-input type="email" placeholder="Enter the email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Password</ion-label>
        <ion-input type="password" placeholder="Enter the password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
    </div>
    <div class="ion-text-center">
      <ion-button class="signup-btn"  fill="outline" (click)="createAccount()">Create My Account</ion-button>
    </div>
  </div>
</ion-content>

<ion-footer no-border>
  <div class="ion-text-center">
    <img src="assets/images/appzui.jpg" alt="appzui">
  </div>
</ion-footer>
