<ion-header>
  <ion-toolbar>
    <ion-title>
      LCM Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="none">
  <div class="login-container ion-margin" >
    <div class="ion-text-center"> 
      <ion-button class="login-btn" fill="outline" (click)="login()">Login</ion-button>
    </div>
    <div class="ion-text-center" >
      <ion-button class="signup-btn" fill="outline" (click)="signUp()">New User? SignUp</ion-button>
    </div>
    <div class="ion-text-center">
      <ion-button class="skip-btn" (click)="skipLogin()">Skip Login</ion-button>
    </div>
  </div>
</ion-content>
